html, body {
    display: flex;
    min-height: 100%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

body, div, form, input, p { 
    outline: none;
    font-family: Times New Roman;
    font-size: 16px;
    color: gray;
  }

h1{
    font-size: 47px;
  }

h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
/*
Tylko tytuły artykułów
*/
h3{
    text-align: left;
    font-size: 25px;
}
h3:hover{
    color: #ff6600;
}

.header{
    background-color: #000027;
    width: 100vw;
    color: #ff6600;
    text-align: center;
    float: left;
  }

.containner{
    background-color: #000033;
    position: relative;
  }

.logowanie{
    margin-left: 25%;
    margin-top: 2%;
    float: left;
    width: 50%;
    padding-bottom: 50px;
    height: auto;
    float: left;
}

form{
    text-align: center;
} 

.menu{
    padding-left: 10px;
    width: auto;
    float: left;
}

.menu:hover{
   color: #ff6600;
   font-weight: bold;
   background-color: #000033; 
}

.articles{
    margin-left: 12.5%;
    margin-top: 2%;
    float: left;
    width: 75%;
    height: auto;
}

.article{
    background-color: #000039;
}

textarea{
    width: 194px;
    border-width: 2px;
    border-style: inset;
    padding: 1px 2px;
    height: 200px;
}